* {
    margin: 0 auto;
    text-align: left;
}

body{
    font-family: Arial , sans-serif;
    background: cornsilk;
}

.article{
    padding: 1.5rem;
    max-width: 680px;
}

.article .article__lead {
    margin-bottom: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
} 

.article .article__heading--verified {
    margin: 0 0 1.5rem 0;
    color: palevioletred
}

.figure .figure__caption {
    margin: 8px 0 0;
    font-style: italic;
    text-align: center;
}

.figure .figure__image {
    margin-top: 16px; 
}