* {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

body{
    margin: 40px auto;
    width: 1180px;
    background: #F6F6F6;
}

.header{
    text-align: center;
    font-weight: 900;
    font-size: 48px;
}

.wrapper{
    margin-top: 40px;
}

.card{
    position: relative;
    display: flex;
    justify-content: space-between;  
}

.card__item{
    padding-bottom: 24px;
    width: 380px;
    box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
    border-radius: 12px;
}

.tags {
    position: absolute;
    display: flex;  
}

.tags-disabled{
    visibility: hidden
}

.tags__item {
    width: 102px;
    height: 24px;
    margin: 17px 0 0 17px;
    text-align: center;
    line-height: 23px;
    background: #FDCFF3;
    border-radius: 8px; 
    font-weight: 400;
    font-size: 16px;
    color: #2F2F2F; 
}

.tags__item_last {
    width: 134.4px;
    background: #FFCF56;
}

.info{
    margin: 24px;
}

.info__header{
    margin-bottom: 16px;
    font-weight: 900;
    font-size: 24px;
    color: #2F2F2F;
}

.info__desc{
    height: 96px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2F2F2F;
}

.card__item__button{
    cursor: pointer;
    margin-left: 24px;
    width: 332px;
    height: 48px;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    color: #42940F;
    background: #FFFFFF;
    border-radius: 8px;
    border: 2px solid #42940F;
}
 .card__item__button:hover{
    background: #42940F;
    color: #FFFFFF;
}
.card__item__button:active{
    background: #1F5200;
    color: #FFFFFF;
    border-color: #1F5200;
}

.card__item__button:disabled{
    cursor: auto;
    background: #4E4E4E;
    border-color:  #4E4E4E;
    color: #FFFFFF;
}

@media screen and (max-width: 1200px){
    body{
        width: 900px;
    }

    .header{
        font-size: 36px;
    }
    .card{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
    }
}
  
@media screen and (max-width: 980px){
    body{
        width: 600px;
    }

    .header{
        font-size: 32px;
    }

    .card{
        justify-content: center;
        gap: 40px;
    }
}

@media screen and (max-width: 650px){
    body{
        margin: 25px auto;
        width: 90%;
    }

    .header{
        font-size: 21px;
    }

    .card{
        gap: 40px;
    }

    .card__item{
        width: 300px;
    }

    .card__item img{
        width: 100%;
    }

    .tags__item {
        width: 72px;
        height: 20px;
        margin: 8px 0 0 12px;
        font-size: 12px; 
    }
    
    .tags__item_last {
        width: 93px;
    }
    
    .info{
        margin: 12px;
    }
    
    .info__header{
        margin-bottom: 10px;
        font-size: 18px;
    }
    
    .info__desc{
        height: 70px;
        font-size: 12px;
        line-height: 18px;
    }
    
    .card__item__button{
        margin-left: 12px;
        width: 276px;
        font-weight: 900;
        font-size: 16px;
    }  
}


   